# I put random stuff I don't want exported into no_export directories.
**/no_export/**

# For tooling on workstation.
**/METADATA

# Python produces these files during execution.
**/__pycache__/**

# .development tells the Arduino IDE to allow editing and overwriting of
# examples, etc., rather than forcing a copy (Save As) in order to save.
.development

# Visual Studio (VS) Code editor creates a file (or directory?) with this name.
.vscode

# Ignore lines from the github template for C++ projects...

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
